<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Accounts - Stacked Bar</h3>
    </div>
    <div class="panel-body chart">
        <div class="row">
            <div class="col-lg-3" id="accounts-status-chart-1">
                <svg></svg>
            </div>
            <div class="col-lg-3" id="accounts-status-chart-2">
                <svg></svg>
            </div>
            <div class="col-lg-3" id="accounts-status-chart-3">
                <svg></svg>
            </div>
            <div class="col-lg-3" id="accounts-status-chart-4">
                <svg></svg>
            </div>
        </div>
    </div>
</div>